<div class="row">
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<!-- Clock -->
				<div ng-controller='ClockCtrl'>
					<p>{{ clock | date:'dd/MM/yyyy HH:mm:ss'}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<!-- Weather -->
				<div ng-controller="WeatherCtrl">
					<h3>{{name}}</h3>
  					<p>{{description}}</p>
  					<p>Temperature: {{main.temp}}</p>
  					<p>Wind speed: {{wind.speed}}</p>
				</div>
			</div>
		</div>
	</div>
</div>